<ion-header>
  <ion-navbar>
    <ion-title>
      Rotterdam
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="getLocation()">
        <ion-icon name="navigate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
      <sebm-google-map 
        [latitude]="lat" 
        [longitude]="lng" 
        [styles]="styles" 
        [zoom]="16"
        [streetViewControl]="false" 
        [disableDefaultUI]="true">
        <ng-container *ngIf="!checkIfLocals">
        <sebm-google-map-marker  *ngFor="let m of locationsArray; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          iconUrl="assets/markers/pointer_local.png"
          (markerClick)="onMarkerClickLocals(m)">
        </sebm-google-map-marker>
        </ng-container>
        <ng-container *ngIf="checkIfLocals">
        <sebm-google-map-marker  *ngFor="let m of locals; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          iconUrl="assets/markers/pointer_building.png"
          (markerClick)="onMarkerClick(m)">
        </sebm-google-map-marker>
        </ng-container>

        <sebm-google-map-marker *ngIf="lat"
        [latitude]="lat" 
        [longitude]="lng"
        label="You are here!"
        >
        </sebm-google-map-marker>

      <sebm-google-map-polyline *ngIf="showDirection">
        <sebm-google-map-polyline-point [latitude]="lat" [longitude]="lng"></sebm-google-map-polyline-point>
        <sebm-google-map-polyline-point [latitude]="DirectionLat" [longitude]="DirectionLng"></sebm-google-map-polyline-point>
      </sebm-google-map-polyline>

      </sebm-google-map >
    
    <div class="bottom request">
      <ion-row>
        <ion-col width-50>
          <ion-avatar item-start>
            <img style="width:66px; border-radius: 50%; height: 66px; margin-bottom: 15px;" src="https://s-media-cache-ak0.pinimg.com/originals/b1/bb/ec/b1bbec499a0d66e5403480e8cda1bcbe.png" class="profile-img">
            <ion-row>
              <img src="assets/img/coin_rp.png" *ngIf="RPamount>=1" alt="" style="width: auto; height: 25px; margin-bottom: 10px">
              <img src="assets/img/coin_rp.png" *ngIf="RPamount>=2" alt="" style="width: auto; height: 25px; margin-bottom: 10px">
              <img src="assets/img/coin_rp.png" *ngIf="RPamount>=3" alt="" style="width: auto; height: 25px; margin-bottom: 10px">
              <img src="assets/img/coin_rp.png" *ngIf="RPamount>=4" alt="" style="width: auto; height: 25px; margin-bottom: 10px">
              <img src="assets/img/coin_rp.png" *ngIf="RPamount>=5" alt="" style="width: auto; height: 25px; margin-bottom: 10px">
            </ion-row>  
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <img src="assets/img/attraction.png" alt="" style=" width: 66px;" (click)="localCheck(true)">
          <img src="assets/img/local.png" alt="" style=" width: 66px;" (click)="localCheck(false)">
        </ion-col>
      </ion-row>
    </div>
 </ion-content>
