<ion-header>
  <ion-navbar>
    <ion-title>
      Maps
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="getLocation()">
        <ion-icon name="navigate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
      <sebm-google-map 
        [latitude]="lat" 
        [longitude]="lng" 
        [styles]="styles" 
        [zoom]="16"
        [streetViewControl]="false" 
        [disableDefaultUI]="true">
        <ng-container *ngIf="!checkIfLocals">
        <sebm-google-map-marker  *ngFor="let m of locationsArray; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          iconUrl="assets/markers/pointer_local.png"
          (markerClick)="onMarkerClickLocals(m)">
        </sebm-google-map-marker>
        </ng-container>
        <ng-container *ngIf="checkIfLocals">
        <sebm-google-map-marker  *ngFor="let m of locals; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          iconUrl="assets/markers/pointer_building.png"
          (markerClick)="onMarkerClick(m)">
        </sebm-google-map-marker>
        </ng-container>

        <sebm-google-map-marker *ngIf="lat"
        [latitude]="lat" 
        [longitude]="lng"
        label="You are here!"
        >
        </sebm-google-map-marker>

      </sebm-google-map >
    
    <div class="bottom request">
      <ion-row>
        <ion-col width-50>
          <ion-avatar item-start>
            <img style="width:66px; border-radius: 50%; height: 66px;" [src]="profileImg" class="profile-img">
            <ion-row>
              <ion-icon  class="star" name="star-outline"></ion-icon>
              <ion-icon  class="star" name="star-outline"></ion-icon>
              <ion-icon  class="star" name="star-outline"></ion-icon>
              <ion-icon  class="star" name="star-outline"></ion-icon>
              <ion-icon  class="star" name="star-outline"></ion-icon>
            </ion-row>  
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <button block ion-button small (click)="localCheck(true)">
            <ion-icon name="home"></ion-icon>
             Actractions
          </button>
          <button block ion-button small (click)="localCheck(false)">
            <ion-icon name="person"></ion-icon>
             Locals
          </button>
        </ion-col>
      </ion-row>
    </div>
 </ion-content>
