.tabs-md .tabbar{
    background: #FFF;
}

page-about {

    .toolbar-background-md {
        background: #2C88FF !important;
        color: #FFF !important;
    }

    .filter-buttons{
        display: flex;
        justify-content: center;
    }

    .header-icon{
        font-size: 30px;
        color: #FFF;
    }

    .toolbar-title-md {
        color: #FFF;
    }

    sebm-google-map{
        height: 100vh;
    }

    .bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .request{
        text-align: center;
    }

    sebm-google-map{
        width: 100%;
        height:100vh;
    } 
}
