page-markerdetail {
    ion-grid{
        height: 360px;
    }

    .toolbar-background {
    background: #FF6A69 !important;
    color: #FFF !important;

        .toolbar-title-md {
            color: #FFF !important;
        }
    }

    .footer{
        background: #FFF !important;
    }
    .toolbar-title-md {
        color: #FFF;
    }

    .ion-ios-star{
        color: #feb234;
    }
}
